flows.json
[{"id":"ab97a832.9032a8","type":"tab","label":"Invernaderos","disabled":false,"info":""},{"id":"ee72edf0.79d15","type":"tab","label":"Ingreso","disabled":false,"info":""},{"id":"e0017226.226a5","type":"tab","label":"DATABASE","disabled":false,"info":""},{"id":"3a6412a8.17b5de","type":"tab","label":"Prueba tiempo","disabled":false,"info":""},{"id":"1db661b1.a3f67e","type":"mqtt-broker","z":"","name":"","broker":"mantenimiento.elite.local","port":"1883","clientid":"BL_SC_6","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14285933.1b10b7","type":"MSSQL-CN","z":"","name":"ELITE","server":"ELT-DB13-FCA.ELITE.LOCAL","encyption":false,"database":"ELITE"},{"id":"11118ea0.aa7b11","type":"mqtt-broker","z":"","name":"","broker":"mantenimiento.elite.local","port":"1883","clientid":"BL_SP_30","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8230a646.88ad98","type":"mqtt-broker","z":"","name":"","broker":"mantenimiento.elite.local","port":"1883","clientid":"BL_SP_31","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d21e0860.631358","type":"mqtt-broker","z":"","name":"","broker":"10.50.1.153","port":"1883","clientid":"BL_MT_04","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"15ea42c2.a7d0fd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"51f28f70.df4d4","type":"mqtt-broker","z":"","name":"","broker":"mantenimiento.elite.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75f093f0.7845ac","type":"mqtt-broker","z":"","name":"","broker":"mantenimiento.elite.local","port":"1883","clientid":"SAL_DATOS","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c5beba9.778dd4","type":"mqtt-broker","z":"","name":"prueba","broker":"node02.myqtthub.com","port":"1883","clientid":"Hola","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcc02920.a22308","type":"MSSQL-CN","z":"","name":"SGMWIN","server":"ELT-DB13-FCA.ELITE.LOCAL","encyption":true,"database":"SGMWIN"},{"id":"eed709f3.c99a98","type":"google-credentials","z":"","displayName":"Google"},{"id":"b1821064.1fca9","type":"MSSQL","z":"ab97a832.9032a8","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":350,"y":420,"wires":[["9f6d58ea.2b2a28"]]},{"id":"454f000a.99486","type":"inject","z":"ab97a832.9032a8","name":"","topic":"","payload":"select * from [dbo].[MONITOR_INVERN] where ID_INVERNADERO = 1877 AND FECHA = '2020-06-08 09:07:00'","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["b1821064.1fca9"]]},{"id":"9f6d58ea.2b2a28","type":"debug","z":"ab97a832.9032a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":420,"wires":[]},{"id":"228804ec.d25b0c","type":"mqtt in","z":"ab97a832.9032a8","name":"","topic":"MCI_SP_IN","qos":"2","datatype":"auto","broker":"8230a646.88ad98","x":110,"y":280,"wires":[["38347cbb.dbd774","8dd3c193.3ac58"]]},{"id":"23bc026d.034b1e","type":"debug","z":"ab97a832.9032a8","name":"MT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":280,"wires":[]},{"id":"53f6424f.ec73dc","type":"mqtt out","z":"ab97a832.9032a8","name":"","topic":"MCI_ST_OUT","qos":"0","retain":"","broker":"d21e0860.631358","x":380,"y":360,"wires":[]},{"id":"7b48010a.674a3","type":"inject","z":"ab97a832.9032a8","name":"","topic":"","payload":"[48,49,44,50,48,50,48,45,48,54,45,48,56,32,48,57,58,48,55,58,48,44,49,56,55,55,44,50,48,46,48,55,44,54,48,46,55,49,59]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["53f6424f.ec73dc"]]},{"id":"8dd3c193.3ac58","type":"function","z":"ab97a832.9032a8","name":"Funcion","func":"var cadena=[];\nmsg.payload=msg.payload.replace(\";\",\"\");\nmsg.payload=msg.payload.split(\",\");\nif(msg.payload[0]==\"DATO_INV\")\n{\n    if(msg.payload[3]==\" NAN\")\n    {\n        msg.payload=\"INSERT INTO [ELITE].[dbo].[MONITOR_INVERN] ([FECHA],[ID_INVERNADERO],[TEMPERATURA],[HUMEDAD_RELATIVA],[FECHA_ESCRITURA]) VALUES ('\" + msg.payload[1] + \"',\" + msg.payload[2] + \",0.0,0.0,GETDATE());\";\n    }\n    else{\n    msg.payload=\"INSERT INTO [ELITE].[dbo].[MONITOR_INVERN] ([FECHA],[ID_INVERNADERO],[TEMPERATURA],[HUMEDAD_RELATIVA],[FECHA_ESCRITURA]) VALUES ('\" + msg.payload[1] + \"',\" + msg.payload[2] + \",\" + msg.payload[3] + \",\" + msg.payload[4] + \",GETDATE());\";\n    }\n    return msg;\n}\nelse if(msg.payload[0]==\"01\")\n{\n    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\n    var localISOTime = (new Date(Date.now() - tzoffset));\n    var minutes;\n    if (localISOTime.getMinutes()%5>2)\n    {\n        minutes=localISOTime.getMinutes()+5-(localISOTime.getMinutes()%5);\n    }\n    else{\n        minutes=localISOTime.getMinutes()-(localISOTime.getMinutes()%5);\n    }\n    var date = \"\" + localISOTime.getFullYear() + \"-\" + (localISOTime.getUTCMonth()+1) + \"-\" + localISOTime.getDate() + \" \" + localISOTime.getUTCHours() + \":\" + minutes + \":0\";\n    msg.payload=\"INSERT INTO [ELITE].[dbo].[MONITOR_INVERN] ([FECHA],[ID_INVERNADERO],[TEMPERATURA],[HUMEDAD_RELATIVA],[FECHA_ESCRITURA]) VALUES ('\" + date + \"',\" + msg.payload[2] + \",\" + msg.payload[3] + \",\" + msg.payload[4] + \",GETDATE());\";\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["a79ad0ea.9762a"]]},{"id":"a79ad0ea.9762a","type":"MSSQL","z":"ab97a832.9032a8","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":550,"y":280,"wires":[["23bc026d.034b1e"]]},{"id":"38347cbb.dbd774","type":"debug","z":"ab97a832.9032a8","name":"Prueba_invernadero","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":240,"wires":[]},{"id":"f25be425.234d08","type":"mqtt in","z":"ee72edf0.79d15","name":"Entrada de datos","topic":"ING_DATOS","qos":"0","datatype":"auto","broker":"51f28f70.df4d4","x":140,"y":120,"wires":[["a929e5c4.b7dfd8"]]},{"id":"16a86dc4.f9c132","type":"mqtt out","z":"ee72edf0.79d15","name":"Salida de datos","topic":"SAL_DA","qos":"","retain":"","broker":"51f28f70.df4d4","x":820,"y":120,"wires":[]},{"id":"a929e5c4.b7dfd8","type":"function","z":"ee72edf0.79d15","name":"Selector","func":"var cadena=[];\nmsg.payload=msg.payload.replace(\";\",\"\");\nmsg.payload=msg.payload.split(\",\");\nif(msg.payload[0]==\"00\") //verificacion del código\n{\n    //00,16523\n    msg.payload=\"select * from [dbo].[Covid_Empleados] where IDempleado = \" + msg.payload[1] + \"\";\n    return [msg,null,null];\n}\nelse if(msg.payload[0]==\"2\") //entrada de respuestas\n{\n    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\n    var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\n\n    //02,16523,1026591258,01,36.0,0,0,01,01,'2020-06-23 07:00:00';\n    msg.payload=\"INSERT INTO [ELITE].[dbo].[Covid_Registros] ([Codigo],[Cedula],[Tipo_Personal],[Temperatura],[Respuesta1],[Respuesta2],[Id_finca],[Id_Equipo],[Fecha_Ingreso],[Fecha_Registro]) VALUES ('\" + msg.payload[2] + \"',\" + msg.payload[3] + \",\" + msg.payload[4] + \",\" + msg.payload[5] + \",\" + msg.payload[6] + \",\" + msg.payload[7] + \",\" + msg.payload[8] + \",\" + msg.payload[9] + \", GETDATE(), GETDATE());\";\n    return [null,msg,null];\n}\nelse if(msg.payload[0]==\"05\")\n{\n    msg.payload=\"06,KP;\";\n    return [null,null,msg];\n}\nelse if(msg.payload[0]==\"IPWEB\")\n{\n    return [null,null,msg];\n}\n\n","outputs":3,"noerr":0,"x":300,"y":120,"wires":[["70653472.44ba6c","a835dca5.995ef"],["c963d9ae.d2b168","71bfba6f.3510f4","9f5d459f.97d038"],["9f5d459f.97d038"]]},{"id":"dd4b6993.292fc8","type":"inject","z":"ee72edf0.79d15","name":"","topic":"","payload":"2,16523,1026591258,1,36,0,0,1,1;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":600,"wires":[["c05bac2f.256c3"]]},{"id":"d2b21c0f.c5c48","type":"mqtt out","z":"ee72edf0.79d15","name":"","topic":"IPWEB","qos":"","retain":"","broker":"51f28f70.df4d4","x":300,"y":360,"wires":[]},{"id":"70653472.44ba6c","type":"MSSQL","z":"ee72edf0.79d15","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":430,"y":100,"wires":[["a82657ca.542808"]]},{"id":"a82657ca.542808","type":"function","z":"ee72edf0.79d15","name":"Verificador","func":"if(msg.payload.length !== 0)\n{\n    var codigo = msg.payload[0].IDempleado;\n    var nombre = msg.payload[0].Descripcion;\n    var cedula = msg.payload[0].Cedula;\n    msg.reset = true;\n    msg.payload = codigo + \",\" + nombre + \",\" + cedula + \";\";\n    return msg;\n}\nelse\n{\n    msg.payload=\"NO;\";\n    msg.reset = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["16a86dc4.f9c132","a835dca5.995ef"]]},{"id":"227defeb.df197","type":"function","z":"ee72edf0.79d15","name":"Confirmación","func":"msg.payload = \"Exitoso\";\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["16a86dc4.f9c132","71bfba6f.3510f4"]]},{"id":"2f4dd254.dafa7e","type":"mqtt in","z":"ee72edf0.79d15","name":"","topic":"SAL_DA","qos":"2","datatype":"auto","broker":"51f28f70.df4d4","x":120,"y":300,"wires":[["e493da38.851768"]]},{"id":"e493da38.851768","type":"debug","z":"ee72edf0.79d15","name":"C. Envío","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":280,"wires":[]},{"id":"61e76353.f20a9c","type":"inject","z":"ee72edf0.79d15","name":"","topic":"","payload":"select * from [dbo].[Covid_Registros] ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["8f5f6732.b2a718"]]},{"id":"8f5f6732.b2a718","type":"MSSQL","z":"ee72edf0.79d15","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":290,"y":420,"wires":[["10ea63d1.47fedc"]]},{"id":"10ea63d1.47fedc","type":"debug","z":"ee72edf0.79d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":420,"wires":[]},{"id":"bbed6fc2.6770b","type":"inject","z":"ee72edf0.79d15","name":"","topic":"","payload":"select * from [dbo].[Covid_Empleados] where IDempleado = 16523","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["42e81df6.061dd4"]]},{"id":"42e81df6.061dd4","type":"MSSQL","z":"ee72edf0.79d15","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":290,"y":480,"wires":[["2f2e1ab6.8b7186"]]},{"id":"29cc49a2.68c1b6","type":"debug","z":"ee72edf0.79d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"2f2e1ab6.8b7186","type":"function","z":"ee72edf0.79d15","name":"Prueba","func":"var codigo = msg.payload[0].IDempleado;\nvar nombre = msg.payload[0].Descripcion;\nvar cedula = msg.payload[0].Cedula;\nmsg.payload = codigo + \",\" + nombre + \",\" + cedula + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["29cc49a2.68c1b6"]]},{"id":"c963d9ae.d2b168","type":"MSSQL","z":"ee72edf0.79d15","mssqlCN":"14285933.1b10b7","name":"ELITE1","query":"","outField":"payload","x":440,"y":140,"wires":[["227defeb.df197"]]},{"id":"2d74323b.e3ea7e","type":"inject","z":"ee72edf0.79d15","name":"HORA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":360,"wires":[["7a32b2a7.3f744c"]]},{"id":"7a32b2a7.3f744c","type":"function","z":"ee72edf0.79d15","name":"HORA","func":"const unixTimestamp = msg.payload;\nconst milliseconds = unixTimestamp; \nconst dateObject = new Date(milliseconds);\nconst humanDateFormat = dateObject.toLocaleString(); //2019-12-9 10:30:15\nmsg.payload = humanDateFormat.substr(0,humanDateFormat.indexOf(\"├\")-1);\nmsg.payload = msg.payload.replace(\" \",\",\");\nfor(var i=0;i<2;i++)\n{\n    msg.payload = msg.payload.replace(\":\",\",\");\n    msg.payload = msg.payload.replace(\"-\",\",\");\n}\nmsg.payload = \"04,\" + msg.payload + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["3d05596f.a674d6"]]},{"id":"3d05596f.a674d6","type":"mqtt out","z":"ee72edf0.79d15","name":"","topic":"HORA","qos":"","retain":"","broker":"51f28f70.df4d4","x":810,"y":360,"wires":[]},{"id":"4179101c.9a44d","type":"mqtt in","z":"ee72edf0.79d15","name":"","topic":"HORA","qos":"2","datatype":"auto","broker":"51f28f70.df4d4","x":110,"y":240,"wires":[["e493da38.851768"]]},{"id":"71bfba6f.3510f4","type":"trigger","z":"ee72edf0.79d15","op1":"","op2":"Fallo","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":500,"y":180,"wires":[["16a86dc4.f9c132"]]},{"id":"9f5d459f.97d038","type":"debug","z":"ee72edf0.79d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":220,"wires":[]},{"id":"8326006.65952","type":"function","z":"ee72edf0.79d15","name":"","func":"var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\nmsg.payload=localISOTime;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["8a48107b.5964a"]]},{"id":"bf0bfd92.2c7b8","type":"inject","z":"ee72edf0.79d15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["8326006.65952"]]},{"id":"8a48107b.5964a","type":"debug","z":"ee72edf0.79d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":580,"wires":[]},{"id":"453bbe96.39cdc","type":"MSSQL","z":"ee72edf0.79d15","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":930,"y":600,"wires":[["35be7dfd.d8d4f2"]]},{"id":"35be7dfd.d8d4f2","type":"debug","z":"ee72edf0.79d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":640,"wires":[]},{"id":"c05bac2f.256c3","type":"function","z":"ee72edf0.79d15","name":"Selector","func":"var cadena=[];\nmsg.payload=msg.payload.replace(\";\",\"\");\nmsg.payload=msg.payload.split(\",\");\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\n//localISOTime=localISOTime.replace(\"T\",\" \");\n//02,16523,1026591258,01,36.0,0,0,01,01,'2020-06-23 07:00:00';\nmsg.payload=\"INSERT INTO [ELITE].[dbo].[Covid_Registros] ([Codigo],[Cedula],[Tipo_Personal],[Temperatura],[Respuesta1],[Respuesta2],[Id_finca],[Id_Equipo],[Fecha_Ingreso],[Fecha_Registro]) VALUES ('\" + msg.payload[1] + \"',\" + msg.payload[2] + \",\" + msg.payload[3] + \",\" + msg.payload[4] + \",\" + msg.payload[5] + \",\" + msg.payload[6] + \",\" + msg.payload[7] + \",\" + msg.payload[8] + \", CAST('\"+ localISOTime  + \"' AS datetime) , GETDATE());\";\nreturn msg\n\n","outputs":1,"noerr":0,"x":800,"y":600,"wires":[["453bbe96.39cdc","35be7dfd.d8d4f2"]]},{"id":"d89022f7.06b99","type":"inject","z":"e0017226.226a5","name":"","topic":"","payload":"UPDATE [ELITE].[dbo].[EN_CUENTAS] SET INTERVALO_FAC = 1 WHERE ID_FACTURA = 133","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["131bd07d.4ef24"]]},{"id":"131bd07d.4ef24","type":"MSSQL","z":"e0017226.226a5","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":310,"y":100,"wires":[["f7241c79.67f24"]]},{"id":"f7241c79.67f24","type":"debug","z":"e0017226.226a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"1b3b5417.18d49c","type":"inject","z":"e0017226.226a5","name":"","topic":"","payload":"ALTER TABLE [ELITE].[dbo].[Covid_Registros] ALTER COLUMN Fecha_Registro datetime;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["ebf88915.a2a128"]]},{"id":"ebf88915.a2a128","type":"MSSQL","z":"e0017226.226a5","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":310,"y":180,"wires":[["4da3697b.73f4d8"]]},{"id":"4da3697b.73f4d8","type":"debug","z":"e0017226.226a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":180,"wires":[]},{"id":"a835dca5.995ef","type":"trigger","z":"ee72edf0.79d15","op1":"","op2":"NO;","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":500,"y":60,"wires":[["16a86dc4.f9c132"]]},{"id":"b152ece2.fe784","type":"inject","z":"e0017226.226a5","name":"","topic":"","payload":"UPDATE [ELITE].[dbo].[EN_REG_CONSUMO_M] SET COSTO_APROX=558654.67 WHERE ID_REGISTRO_C = 70346","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["34d234a1.9e2a2c"]]},{"id":"34d234a1.9e2a2c","type":"MSSQL","z":"e0017226.226a5","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":310,"y":260,"wires":[["becd2476.dcb0c8"]]},{"id":"becd2476.dcb0c8","type":"debug","z":"e0017226.226a5","name":"Corrección de consumo(reinicio)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":260,"wires":[]},{"id":"c795c24.eafb34","type":"inject","z":"e0017226.226a5","name":"","topic":"","payload":"SELECT*FROM USUARIO_PERFIL WHERE ID_USUARIO= 1585;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["ec5abf09.933d1"]]},{"id":"ec5abf09.933d1","type":"MSSQL","z":"e0017226.226a5","mssqlCN":"dcc02920.a22308","name":"ELITE","query":"","outField":"payload","x":310,"y":320,"wires":[["4ae3f556.35e8ac"]]},{"id":"4ae3f556.35e8ac","type":"debug","z":"e0017226.226a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":320,"wires":[]},{"id":"37044228.78382e","type":"inject","z":"e0017226.226a5","name":"","topic":"","payload":"INSERT INTO [ELITE].[dbo].[EN_REG_CONSUMO_M]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["444054d2.19565c"]]},{"id":"444054d2.19565c","type":"MSSQL","z":"e0017226.226a5","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":310,"y":380,"wires":[["933d61c1.5f5fa"]]},{"id":"933d61c1.5f5fa","type":"debug","z":"e0017226.226a5","name":"Corrección de consumo(reinicio)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"708d1645.cb4b28","type":"mqtt out","z":"ab97a832.9032a8","name":"","topic":"MCI_ST_OUT","qos":"0","retain":"","broker":"d21e0860.631358","x":380,"y":480,"wires":[]},{"id":"3d011a9d.734c96","type":"inject","z":"ab97a832.9032a8","name":"IPWEB","topic":"","payload":"[73,80,87,69,66,44,83,111,108,105,99,105,116,117,100,59]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["708d1645.cb4b28"]]},{"id":"ab0f5aaa.992c18","type":"inject","z":"ab97a832.9032a8","name":"CONF_INVER","topic":"","payload":"[67,79,78,70,44,83,80,50,57,44,79,70,70,44,79,78,44,79,70,70,44,79,78,44,49,44,50,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,78,44,79,78,44,79,78,44,49,44,51,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,70,70,44,79,70,70,44,79,78,44,50,44,50,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,70,70,44,79,70,70,44,79,70,70,44,50,44,51,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,70,70,44,79,78,44,79,78,44,51,44,53,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,70,70,44,79,78,44,79,70,70,44,53,44,53,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,70,70,44,79,70,70,44,79,70,70,44,49,52,44,53,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,70,70,44,79,78,44,79,70,70,44,49,53,44,48,44,48,44,32,44,76,86,49,54,44,79,78,44,79,70,70,44,79,78,44,79,70,70,44,49,53,44,51,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,78,44,79,70,70,44,79,70,70,44,49,53,44,51,48,44,48,44,32,44,83,80,50,57,44,79,78,44,79,78,44,79,70,70,44,79,70,70,44,49,53,44,51,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,70,70,44,79,78,44,79,70,70,44,49,55,44,53,48,44,48,44,32,44,83,80,50,57,44,79,70,70,44,79,78,44,79,70,70,44,79,70,70,44,49,55,44,53,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,70,70,44,79,78,44,79,78,44,49,56,44,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,78,44,79,78,44,79,78,44,49,57,44,51,48,44,48,44,32,44,76,86,49,54,44,79,70,70,44,79,78,44,79,70,70,44,79,78,44,50,48,44,48,44,48,59]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["708d1645.cb4b28"]]},{"id":"ca6c958.0929e68","type":"inject","z":"ab97a832.9032a8","name":"RED XBEE","topic":"","payload":"[82,69,68,44,76,65,82,69,68,59]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["708d1645.cb4b28"]]},{"id":"6bfadced.296594","type":"function","z":"ab97a832.9032a8","name":"Creador_Hora","func":"var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now() - tzoffset));\nmsg.payload = \"HORA,\" + localISOTime.getFullYear() + \",\" + (localISOTime.getUTCMonth()+1) + \",\" + localISOTime.getDate() + \",\" + localISOTime.getUTCHours() + \",\" + localISOTime.getMinutes() + \",\" + localISOTime.getSeconds() + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["708d1645.cb4b28","5720cc63.d46764"]]},{"id":"d06913a2.95ad5","type":"inject","z":"ab97a832.9032a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":680,"wires":[["6bfadced.296594"]]},{"id":"5720cc63.d46764","type":"debug","z":"ab97a832.9032a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":560,"wires":[]},{"id":"c1799ff7.92c21","type":"json","z":"3a6412a8.17b5de","name":"","property":"payload","action":"","pretty":false,"x":210,"y":180,"wires":[["eeffcda5.62643"]]},{"id":"176745cc.0f4cba","type":"function","z":"3a6412a8.17b5de","name":"Creador_JSON","func":"msg.payload = \"{\"+\n\"\\\"0\\\":{\\\"invernadero\\\":\\\"LV16\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"15:30:0\\\",\\\"horafinal\\\":\\\"17:50:0\\\"},\"+\n\"\\\"1\\\":{\\\"invernadero\\\":\\\"SP29\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"1:30:0\\\",\\\"horafinal\\\":\\\"14:50:0\\\"},\"+\n\"\\\"2\\\":{\\\"invernadero\\\":\\\"LV16\\\", \\\"actuador\\\":\\\"OTRO\\\",\\\"horainicio\\\":\\\"18:00:0\\\",\\\"horafinal\\\":\\\"2:30:0\\\"},\"+\n\"\\\"3\\\":{\\\"invernadero\\\":\\\"LV16\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"15:00:0\\\",\\\"horafinal\\\":\\\"20:00:0\\\"},\"+\n\"\\\"4\\\":{\\\"invernadero\\\":\\\"SP29\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"15:30:0\\\",\\\"horafinal\\\":\\\"3:50:0\\\"},\"+\n\"\\\"5\\\":{\\\"invernadero\\\":\\\"LV16\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"19:30:0\\\",\\\"horafinal\\\":\\\"2:20:0\\\"},\"+\n\"\\\"6\\\":{\\\"invernadero\\\":\\\"SP29\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"15:30:0\\\",\\\"horafinal\\\":\\\"17:50:0\\\"},\"+\n\"\\\"7\\\":{\\\"invernadero\\\":\\\"SP29\\\", \\\"actuador\\\":\\\"OTRO\\\",\\\"horainicio\\\":\\\"1:20:0\\\",\\\"horafinal\\\":\\\"5:50:0\\\"},\"+\n\"\\\"8\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"3:40:0\\\",\\\"horafinal\\\":\\\"19:30:0\\\"},\"+\n\"\\\"9\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"8:35:0\\\",\\\"horafinal\\\":\\\"12:55:0\\\"},\"+\n\"\\\"10\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"OTRO\\\",\\\"horainicio\\\":\\\"22:45:0\\\",\\\"horafinal\\\":\\\"2:30:0\\\"},\"+\n\"\\\"11\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"16:46:0\\\",\\\"horafinal\\\":\\\"23:40:0\\\"},\"+\n\"\\\"12\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"0:30:0\\\",\\\"horafinal\\\":\\\"8:50:0\\\"},\"+\n\"\\\"13\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"23:30:0\\\",\\\"horafinal\\\":\\\"3:00:0\\\"},\"+\n\"\\\"14\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"12:00:0\\\",\\\"horafinal\\\":\\\"17:50:0\\\"},\"+\n\"\\\"15\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"19:30:0\\\",\\\"horafinal\\\":\\\"2:50:0\\\"},\"+\n\"\\\"16\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"12:30:0\\\",\\\"horafinal\\\":\\\"14:50:0\\\"},\"+\n\"\\\"17\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"OTRO\\\",\\\"horainicio\\\":\\\"19:30:0\\\",\\\"horafinal\\\":\\\"3:35:0\\\"},\"+\n\"\\\"18\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"DUC\\\",\\\"horainicio\\\":\\\"15:20:0\\\",\\\"horafinal\\\":\\\"23:00:0\\\"},\"+\n\"\\\"19\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"1:36:0\\\",\\\"horafinal\\\":\\\"15:50:0\\\"},\"+\n\"\\\"20\\\":{\\\"invernadero\\\":\\\"LV19\\\", \\\"actuador\\\":\\\"SUB\\\",\\\"horainicio\\\":\\\"22:35:0\\\",\\\"horafinal\\\":\\\"3:15:0\\\"},\"+\n\"\\\"21\\\":{\\\"invernadero\\\":\\\"SC19\\\", \\\"actuador\\\":\\\"VEN\\\",\\\"horainicio\\\":\\\"19:15:0\\\",\\\"horafinal\\\":\\\"3:25:0\\\"}\"+\n\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["c1799ff7.92c21"]]},{"id":"3ac06a3d.1ac926","type":"inject","z":"3a6412a8.17b5de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["176745cc.0f4cba"]]},{"id":"eeffcda5.62643","type":"split","z":"3a6412a8.17b5de","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":260,"wires":[["f6f04dcb.932"]]},{"id":"f6f04dcb.932","type":"function","z":"3a6412a8.17b5de","name":"Unix_Conver","func":"var horaini = msg.payload.horainicio.split(\":\");\nvar horafin = msg.payload.horafinal.split(\":\");\nvar uniini = parseFloat(horaini[0]) + parseFloat(horaini[1]/60) + parseFloat(horaini[2]/(60*60));\nvar unifin = parseFloat(horafin[0]) + parseFloat(horafin[1]/60) + parseFloat(horafin[2]/(60*60));\nmsg.payload.horainicio = uniini;\nmsg.payload.horafinal = unifin;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["9bb6a9ba.003d58","c7ae7a5b.fbbe68"]]},{"id":"9bb6a9ba.003d58","type":"function","z":"3a6412a8.17b5de","name":"PreTramaON","func":"var jason = \"{\";\njason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 0,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" , \\\"estado\\\": \\\"ON\\\",\\\"hora\\\": \"+ msg.payload.horainicio + \"}\";\nmsg.payload = jason;\nmsg.parts.count = msg.parts.count * 2;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["6d8b1c68.39ea64"]]},{"id":"10fd9c0e.5fd814","type":"debug","z":"3a6412a8.17b5de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":500,"wires":[]},{"id":"c7ae7a5b.fbbe68","type":"function","z":"3a6412a8.17b5de","name":"PreTramaOFF","func":"var jason = \"{\";\nif (msg.payload.horainicio > msg.payload.horafinal)\n{\n    jason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 1,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" ,\\\"estado\\\": \\\"OFF\\\",\\\"hora\\\": \"+ msg.payload.horafinal + \"}\";\n}\nelse\n{\n    jason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 0,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" , \\\"estado\\\": \\\"OFF\\\",\\\"hora\\\": \"+ msg.payload.horafinal + \"}\";\n}\nmsg.payload = jason;\nmsg.parts.count = msg.parts.count * 2;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["1e581547.f7b49b"]]},{"id":"f75d6d44.59e69","type":"join","z":"3a6412a8.17b5de","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":380,"wires":[["a916f6fc.873588"]]},{"id":"6be623cf.73c50c","type":"inject","z":"3a6412a8.17b5de","name":"temperature","topic":"temperature","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["362a802.7be858"]]},{"id":"362a802.7be858","type":"join","z":"3a6412a8.17b5de","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":660,"wires":[["85ab79da.d9e128"]]},{"id":"85ab79da.d9e128","type":"debug","z":"3a6412a8.17b5de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":660,"wires":[]},{"id":"6ed2b9d0.c783d8","type":"inject","z":"3a6412a8.17b5de","name":"humidity","topic":"humidity","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["362a802.7be858"]]},{"id":"8cebe4cf.97b6d8","type":"inject","z":"3a6412a8.17b5de","name":"pressure","topic":"pressure","payload":"999","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["362a802.7be858"]]},{"id":"1e581547.f7b49b","type":"json","z":"3a6412a8.17b5de","name":"","property":"payload","action":"","pretty":false,"x":410,"y":340,"wires":[["f75d6d44.59e69"]]},{"id":"6d8b1c68.39ea64","type":"json","z":"3a6412a8.17b5de","name":"","property":"payload","action":"","pretty":false,"x":210,"y":380,"wires":[["f75d6d44.59e69"]]},{"id":"a916f6fc.873588","type":"split","z":"3a6412a8.17b5de","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":420,"wires":[["417bf4b5.e8e2cc"]]},{"id":"417bf4b5.e8e2cc","type":"sort","z":"3a6412a8.17b5de","name":"","order":"ascending","as_num":true,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"payload.hora","seqKeyType":"msg","x":410,"y":420,"wires":[["c7cb6ad2.f2e4e8"]]},{"id":"c7cb6ad2.f2e4e8","type":"join","z":"3a6412a8.17b5de","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":460,"wires":[["aae80cd1.27e3b","10fd9c0e.5fd814"]]},{"id":"aae80cd1.27e3b","type":"function","z":"3a6412a8.17b5de","name":"TramaFinal","func":"var array = [];\nfor(var x=0; x<msg.payload.length;x++)\n{\n    if(array.indexOf(msg.payload[x].invernadero)==-1)\n    {\n        array.push(msg.payload[x].invernadero);\n    }\n}\nvar mar = new Array(array.length);\nfor(var y=0; y<array.length;y++)\n{\n    mar[y]=new Array(5);\n    mar[y][0]=array[y];\n    mar[y][1]=mar[y][2]=mar[y][3]=mar[y][4]=\"OFF\";\n}\nvar trama=\"CONF\";\nfor(var a=0; a<msg.payload.length;a++)\n{\n    if(msg.payload[a].indicador==1)\n    {\n        var ind=0;\n        var inv = array.indexOf(msg.payload[a].invernadero);\n        if(msg.payload[a].actuador==\"VEN\"){\n            ind = 1;\n        }\n        else if(msg.payload[a].actuador==\"SUB\"){\n            ind = 2;\n        }\n        else if(msg.payload[a].actuador==\"DUC\"){\n            ind = 3;\n        }\n        else if(msg.payload[a].actuador==\"OTRO\"){\n            ind = 4;\n        }\n        mar[inv][ind]=\"ON\";\n    }\n}\nvar hora;\nvar minuto;\nvar segundo;\nfor(a=0; a<msg.payload.length;a++)\n{\n    hora = parseInt(msg.payload[a].hora);\n    minuto = Math.round((msg.payload[a].hora - hora)*60);\n    segundo = 0;\n    if(msg.payload[a].actuador==\"VEN\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][1] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"SUB\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][2] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"DUC\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][3] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"OTRO\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][4] = msg.payload[a].estado;\n    }\n    trama = trama + \",\" + msg.payload[a].invernadero + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][1] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][2] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][3] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][4] + \",\" + hora + \",\" + minuto + \",\" + segundo;\n    if(msg.payload.length-1==a){\n        trama = trama + \";\";\n    }\n    else{\n        trama = trama + \", \";\n    }\n}\nmsg.payload = trama;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["10fd9c0e.5fd814"]]},{"id":"3a801519.57e23a","type":"function","z":"ab97a832.9032a8","name":"Creador_Consulta","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":820,"wires":[["dd734af1.440bf8"]]},{"id":"b8e5799d.a4d8c8","type":"inject","z":"ab97a832.9032a8","name":"CONF_INVER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["3a801519.57e23a"]]},{"id":"fec98af9.5a8538","type":"split","z":"ab97a832.9032a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":860,"wires":[["54c74a26.826d84"]]},{"id":"54c74a26.826d84","type":"function","z":"ab97a832.9032a8","name":"Unix_Conver","func":"var horaini = msg.payload.horainicio.split(\":\");\nvar horafin = msg.payload.horafinal.split(\":\");\nvar uniini = parseFloat(horaini[0]) + parseFloat(horaini[1]/60) + parseFloat(horaini[2]/(60*60));\nvar unifin = parseFloat(horafin[0]) + parseFloat(horafin[1]/60) + parseFloat(horafin[2]/(60*60));\nmsg.payload.horainicio = uniini;\nmsg.payload.horafinal = unifin;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":900,"wires":[["b598f23f.7736f","31807793.6f6898"]]},{"id":"b598f23f.7736f","type":"function","z":"ab97a832.9032a8","name":"PreTramaON","func":"var jason = \"{\";\njason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 0,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" , \\\"estado\\\": \\\"ON\\\",\\\"hora\\\": \"+ msg.payload.horainicio + \"}\";\nmsg.payload = jason;\nmsg.parts.count = msg.parts.count * 2;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":940,"wires":[["b2533e88.de78"]]},{"id":"31807793.6f6898","type":"function","z":"ab97a832.9032a8","name":"PreTramaOFF","func":"var jason = \"{\";\nif (msg.payload.horainicio > msg.payload.horafinal)\n{\n    jason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 1,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" ,\\\"estado\\\": \\\"OFF\\\",\\\"hora\\\": \"+ msg.payload.horafinal + \"}\";\n}\nelse\n{\n    jason = jason + \"\\\"invernadero\\\": \\\"\" + msg.payload.invernadero + \"\\\", \\\"indicador\\\": 0,\\\"actuador\\\":\\\"\" + msg.payload.actuador + \"\\\" , \\\"estado\\\": \\\"OFF\\\",\\\"hora\\\": \"+ msg.payload.horafinal + \"}\";\n}\nmsg.payload = jason;\nmsg.parts.count = msg.parts.count * 2;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":900,"wires":[["5469338f.e1d3ac"]]},{"id":"a27213bd.d33c2","type":"join","z":"ab97a832.9032a8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":980,"wires":[["3d976fb8.1c8b9"]]},{"id":"5469338f.e1d3ac","type":"json","z":"ab97a832.9032a8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":940,"wires":[["a27213bd.d33c2"]]},{"id":"b2533e88.de78","type":"json","z":"ab97a832.9032a8","name":"","property":"payload","action":"","pretty":false,"x":110,"y":980,"wires":[["a27213bd.d33c2"]]},{"id":"3d976fb8.1c8b9","type":"split","z":"ab97a832.9032a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":1020,"wires":[["58f13baf.1169b4"]]},{"id":"58f13baf.1169b4","type":"sort","z":"ab97a832.9032a8","name":"","order":"ascending","as_num":true,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"payload.hora","seqKeyType":"msg","x":310,"y":1020,"wires":[["78bed23c.38aa2c"]]},{"id":"78bed23c.38aa2c","type":"join","z":"ab97a832.9032a8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":110,"y":1060,"wires":[["a95ad112.80f6a"]]},{"id":"a95ad112.80f6a","type":"function","z":"ab97a832.9032a8","name":"TramaFinal","func":"var array = [];\nfor(var x=0; x<msg.payload.length;x++)\n{\n    if(array.indexOf(msg.payload[x].invernadero)==-1)\n    {\n        array.push(msg.payload[x].invernadero);\n    }\n}\nvar mar = new Array(array.length);\nfor(var y=0; y<array.length;y++)\n{\n    mar[y]=new Array(5);\n    mar[y][0]=array[y];\n    mar[y][1]=mar[y][2]=mar[y][3]=mar[y][4]=\"OFF\";\n}\nvar trama=\"CONF\";\nfor(var a=0; a<msg.payload.length;a++)\n{\n    if(msg.payload[a].indicador==1)\n    {\n        var ind=0;\n        var inv = array.indexOf(msg.payload[a].invernadero);\n        if(msg.payload[a].actuador==\"VEN\"){\n            ind = 1;\n        }\n        else if(msg.payload[a].actuador==\"SUB\"){\n            ind = 2;\n        }\n        else if(msg.payload[a].actuador==\"DUC\"){\n            ind = 3;\n        }\n        else if(msg.payload[a].actuador==\"OTRO\"){\n            ind = 4;\n        }\n        mar[inv][ind]=\"ON\";\n    }\n}\nvar hora;\nvar minuto;\nvar segundo;\nfor(a=0; a<msg.payload.length;a++)\n{\n    hora = parseInt(msg.payload[a].hora);\n    minuto = Math.round((msg.payload[a].hora - hora)*60);\n    segundo = 0;\n    if(msg.payload[a].actuador==\"VEN\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][1] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"SUB\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][2] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"DUC\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][3] = msg.payload[a].estado;\n    }\n    else if(msg.payload[a].actuador==\"OTRO\"){\n        mar[array.indexOf(msg.payload[a].invernadero)][4] = msg.payload[a].estado;\n    }\n    trama = trama + \",\" + msg.payload[a].invernadero + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][1] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][2] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][3] + \",\" + mar[array.indexOf(msg.payload[a].invernadero)][4] + \",\" + hora + \",\" + minuto + \",\" + segundo;\n    if(msg.payload.length-1==a){\n        trama = trama + \";\";\n    }\n    else{\n        trama = trama + \", \";\n    }\n}\nmsg.payload = trama;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[["de31d30d.da7ef"]]},{"id":"dd734af1.440bf8","type":"MSSQL","z":"ab97a832.9032a8","mssqlCN":"14285933.1b10b7","name":"ELITE","query":"","outField":"payload","x":110,"y":860,"wires":[["fec98af9.5a8538"]]},{"id":"de31d30d.da7ef","type":"mqtt out","z":"ab97a832.9032a8","name":"","topic":"MCI_ST_OUT","qos":"0","retain":"","broker":"d21e0860.631358","x":540,"y":1060,"wires":[]},{"id":"bd926ccb.e58c","type":"inject","z":"ee72edf0.79d15","name":"","topic":"","payload":"IPWEB,GHCHGK;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["d2b21c0f.c5c48"]]}]